.player-controller {
  background-color: black;
  opacity: 0.5;
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}

.player-controller-visible {
  transition-delay: 0s;visibility: visible; opacity: 0.5;
}

.player-controller-hidden {
  opacity: 0; visibility:hidden;
}

.player-timeline-container {
  position: absolute;
  left: 30%;
  width: 50%;
  height: 10%;
  top: 45%;
}

.player-timeline {
  border: solid 1px white;
  width: 85%;
  height: 4px;
  margin: 0 auto;
}

.player-timeline:hover {
  cursor: pointer;
}

.player-timeline-mark {
  width: 85%;
  margin: 0 auto;
}

.player-timeline-position {
  font-family: LevelOne;
  font-size: 0.8em;
  color: white;
  float: left;
  transform: translateY(-2px);
}

.player-timeline-duration {
  font-family: LevelOne;
  font-size: 0.8em;
  color: white;
  float: right;
  transform: translateY(-8px);
}

.player-btn-toggle-play {
  position: absolute;
  height: 50%;
  width: 5%;
  top: 20%;
  left: 85%;
  border-radius: 7pt;
  padding: 2px;
}

.player-btn-play {
  background: url('svg/media-play.svg') center no-repeat;
  background-size: 75% 75%;
  background-color: white;
}

.player-btn-pause {
  background: url('svg/media-pause.svg') center no-repeat;
  background-size: 75% 75%;
  background-color: white;
}

.player-btn-toggle-audio {
  position: absolute;
  height: 50%;
  width: 5%;
  top: 20%;
  left: 92%;
  border-radius: 7pt;
  padding: 2px;
}

.player-btn-audio-on {
  background: url('svg/volume-high.svg') center no-repeat;
  background-size: 70% 70%;
  background-color: white;
}

.player-btn-audio-off {
  background: url('svg/volume-off.svg') center no-repeat;
  background-size: 70% 70%;
  background-color: white;  
}

.player-btn-hover {
  background-color: rgb(15,186,240);
}

.player-logo {
  position: absolute;
  background: url('svg/eyevinnlogo.png') no-repeat;
  background-size: 100% 100%;
  height: 70%;
  width: 25%;
  top: 15%;
  left: 2%;
}

@media (max-width: 850px) {
  .player-timeline-container {
    display: none;
  }
}