.wrapper {
  max-width: 1024px;
  max-height: 576px;
  margin: 0 auto;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}
.demo h1 {
  text-align: center;
  font-family: Arial, Verdana;
  font-size: 34pt;
}
.demo h2 {
  text-align: center;
  font-family: Arial, Verdana;
  font-size: 24pt;
}
